<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="2.0.0-pre1904" targetFramework="net472" />
  <package id="Nancy.Metadata.Modules" version="2.0.0-pre1904" targetFramework="net472" />
  <package id="Nancy.Swagger" version="2.2.51-alpha" targetFramework="net472" />
  <package id="Swagger.ObjectModel" version="2.2.51-alpha" targetFramework="net472" />
</packages>